__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
*.db
venv/
.venv/
node_modules/
.next/
*.log
.DS_Store
*.faiss
/models/

frontend/assets/uploads/
frontend/public/assets/uploads/
backend/frontend/
*.bin
faiss_index.bin
cluster_map.json
